<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>seller.uith3tp.vn</title>
</head>
<body>
<div class="web">
    <!-- Nav Bar Vertical -->
    <div class="navbar">
        <div class="navbar__logo">
            <img src="/imgg/img/logonhom.png" alt="">
        </div>
        <!-- LIST  -->
        <div class="navbar__open-bar l4">
            <div class="navbar__list-heading">Sản Phẩm
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="/product">
                        Quản Lí Sản Phẩm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Thêm Sản Phẩm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Sản Phẩm Vi Phạm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Cài Đặt Sản Phẩm
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l3">
            <div class="navbar__list-heading">Đơn Hàng
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="/order">
                        Tất Cả 
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/order">
                        Đơn Hủy
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/order">
                        Trả Hàng/Hoàn Tiền
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l3">
            <div class="navbar__list-heading">Vận Chuyển
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Quản Lý Vận Chuyển
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Giao Hàng Loạt
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                    Cài Đặt Vận Chuyển
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l3">
            <div class="navbar__list-heading">Kênh Marketing
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Kênh Marketing
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Quảng Cáo Shopeee
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Mã giảm giá của tôi
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l4">
            <div class="navbar__list-heading">Tài Chính
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Doanh Thu
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Số Dư TK H3TP
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Tài Khoản Ngân Hàng
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Cài Đặt Thanh Toán
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Dữ Liệu
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Phân Tích Bán Hàng
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Hiệu Quả Hoạt Động
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Phát Triển
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Nhiệm Vụ Người Bán
                </li>
                <li class="navbar__list-item">
                    Shop Yêu Thích
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Chăm Sóc Khách Hàng
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Trợ Lý Chat
                </li>
                <li class="navbar__list-item">
                    Hỏi-Đáp
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l6">
            <div class="navbar__list-heading">Quản Lý Shop
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Đánh Giá Shop
                </li>
                <li class="navbar__list-item">
                    Hồ Sơ Shop
                </li>
                <li class="navbar__list-item" >
                    Trang Trí Shop
                </li>
                <li class="navbar__list-item">
                    Danh Mục Của Shop
                </li>
                <li class="navbar__list-item" >
                    Kho Hình Ảnh/Video
                </li>
                <li class="navbar__list-item">
                    Báo Cáo Của Tôi
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l4">
            <div class="navbar__list-heading">Thiết Lập Shop
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Địa Chỉ
                </li>
                <li class="navbar__list-item">
                    Thiết Lập Shop
                </li>
                <li class="navbar__list-item">
                    Tài Khoản
                </li>
                <li class="navbar__list-item">
                    Nền Tảng Đối Tác
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Trợ Giúp
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Trung Tâm Hỗ Trợ
                </li>
                <li class="navbar__list-item">
                    Thị Trường Dịch Vụ
                </li>
            </ul>
        </div>

        
    </div>
    <div class="container">
        <div class="container__main">
            <div class="homepage__account">
                <div class="homepage__account-img">

                </div>
                <div class="homepage__account-info">
                    <div class="homepage__account-info-name">
                        Jey Hoàng
                    </div>
                    <div class="homepage__account-info-level">
                        Level 1
                    </div>
                    <div class="homepage__account-info-rank">
                        Rank : 0
                    </div>
                </div>
            </div>

            <div class="homepage__todo">
                <div class="homepage__todo__heading">
                    Danh sách cần làm
                </div>
                <div class="homepage__todo__oder">
                    <div class="homepage__todo__oder-column">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name">
                            Chờ xác nhận
                        </div>
                    </div>

                    <div class="homepage__todo__oder-column">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name">
                            Chờ xác nhận
                        </div>
                    </div>

                    <div class="homepage__todo__oder-column">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name">
                            Chờ xác nhận
                        </div>
                    </div>

                    <div class="homepage__todo__oder-column" style="border-right: 0px solid black;">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name">
                            Chờ xác nhận
                        </div>
                    </div>

                    <div class="homepage__todo__oder-column">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name">
                            Chờ xác nhận
                        </div>
                    </div>

                    <div class="homepage__todo__oder-column">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name">
                            Chờ xác nhận
                        </div>
                    </div>

                    <div class="homepage__todo__oder-column">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name">
                            Chờ xác nhận
                        </div>
                    </div>

                    <div class="homepage__todo__oder-column" style="border-right: 0px solid black;">
                        <div class="homepage__todo__oder-quantity">
                            0
                        </div>
                        <div class="homepage__todo__oder-name" >
                            Chờ xác nhận
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage__analyze">
                <div class="homepage__analyze__heading">
                    Phân Tích Bán Hàng
                </div>
                <div class="homepage__analyze__body">
                    <div class="homepage__analyze__column">
                        <div class="homepage__analyze__body-name">
                            Doanh số
                        </div>
                        <div class="homepage__analyze__body-number">
                            0
                        </div>
                        <div class="homepage__analyze__body-compare">
                            Vs hôm qua 0,00%
                        </div>
                    </div>

                    <div class="homepage__analyze__column">
                        <div class="homepage__analyze__body-name">
                            Lượt truy cập
                        </div>
                        <div class="homepage__analyze__body-number">
                            0
                        </div>
                        <div class="homepage__analyze__body-compare">
                            Vs hôm qua 0,00%
                        </div>
                    </div>

                    <div class="homepage__analyze__column">
                        <div class="homepage__analyze__body-name">
                            Lượt xem
                        </div>
                        <div class="homepage__analyze__body-number">
                            0
                        </div>
                        <div class="homepage__analyze__body-compare">
                            Vs hôm qua 0,00%
                        </div>
                    </div>

                    <div class="homepage__analyze__column">
                        <div class="homepage__analyze__body-name">
                            Lượt truy cập
                        </div>
                        <div class="homepage__analyze__body-number">
                            0
                        </div>
                        <div class="homepage__analyze__body-compare">
                            Vs hôm qua 0,00%
                        </div>
                    </div>

                    <div class="homepage__analyze__column">
                        <div class="homepage__analyze__body-name">
                            Tỉ lệ chuyển đổi
                        </div>
                        <div class="homepage__analyze__body-number">
                            0,00%
                        </div>
                        <div class="homepage__analyze__body-compare">
                            Vs hôm qua 0,00%
                        </div>
                    </div>

                    <div class="homepage__analyze__column">
                        <div class="homepage__analyze__body-name">
                            Doanh số trên mỗi đơn hàng
                        </div>
                        <div class="homepage__analyze__body-number">
                            0
                        </div>
                        <div class="homepage__analyze__body-compare">
                            Vs hôm qua 0,00%
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage__marketing">
                <div class="homepage__marketing__heading">
                    Kênh marketing
                </div>
                <div class="homepage__marketing__title">
                    Chương trình nổi bật
                </div>
                <div class="homepage__marketing__menu">
                    <div class="homepage__marketing__menu-voucher active">
                        Mã giảm giá
                    </div>
                    <div class="homepage__marketing__menu-calender">
                        Lịch
                    </div>
                </div>
                <!-- CALENDER MENU -->
                <div class="homepage__marketing__calender">
                    <div class="calendar">
                        <div class="calendar-header">
                            <span class="month-picker" id="month-picker">April</span>
                            <div class="year-picker">
                                <span class="year-change" id="prev-year">
                                    <pre style="margin: 0px;"><</pre>
                                </span>
                                <span id="year">2022</span>
                                <span class="year-change" id="next-year">
                                    <pre style="margin: 0px;">></pre>
                                </span>
                            </div>
                        </div>
                        <div class="calendar-body">
                            <div class="calendar-week-day">
                                <div>Sun</div>
                                <div>Mon</div>
                                <div>Tue</div>
                                <div>Wed</div>
                                <div>Thu</div>
                                <div>Fri</div>
                                <div>Sat</div>
                            </div>
                            <div class="calendar-days"></div>
                        </div>
                       
                        <div class="month-list"></div>
                    </div>
                    <div class="homepage__marketing__voucher-packet">
                        <div class="homepage__marketing__voucher-packet-item">
                            <div class="homepage__marketing__voucher-packet-date">
                                <div class="homepage__marketing__voucher-packet-day">
                                    1
                                </div>
                                <div class="homepage__marketing__voucher-packet-dayweek">
                                    TUE
                                </div>
                            </div>
                            <div class="homepage__marketing__voucher-packet-name">
                                Gói vourcher tháng 11(Seller Voucher Package)_NonMS
                            </div>
                        </div>

                        <div class="homepage__marketing__voucher-packet-item">
                            <div class="homepage__marketing__voucher-packet-date">
                                <div class="homepage__marketing__voucher-packet-day">
                                    1
                                </div>
                                <div class="homepage__marketing__voucher-packet-dayweek">
                                    TUE
                                </div>
                            </div>
                            <div class="homepage__marketing__voucher-packet-name">
                                Gói vourcher tháng 11(Seller Voucher Package)_NonMS
                            </div>
                        </div>

                        <div class="homepage__marketing__voucher-packet-item">
                            <div class="homepage__marketing__voucher-packet-date">
                                <div class="homepage__marketing__voucher-packet-day">
                                    1
                                </div>
                                <div class="homepage__marketing__voucher-packet-dayweek">
                                    TUE
                                </div>
                            </div>
                            <div class="homepage__marketing__voucher-packet-name">
                                Gói vourcher tháng 11(Seller Voucher Package)_NonMS
                            </div>
                        </div>

                        <div class="homepage__marketing__voucher-packet-item">
                            <div class="homepage__marketing__voucher-packet-date">
                                <div class="homepage__marketing__voucher-packet-day">
                                    1
                                </div>
                                <div class="homepage__marketing__voucher-packet-dayweek">
                                    TUE
                                </div>
                            </div>
                            <div class="homepage__marketing__voucher-packet-name">
                                Gói vourcher tháng 11(Seller Voucher Package)_NonMS
                            </div>
                        </div>

                        <div class="homepage__marketing__voucher-packet-item">
                            <div class="homepage__marketing__voucher-packet-date">
                                <div class="homepage__marketing__voucher-packet-day">
                                    1
                                </div>
                                <div class="homepage__marketing__voucher-packet-dayweek">
                                    TUE
                                </div>
                            </div>
                            <div class="homepage__marketing__voucher-packet-name">
                                Gói vourcher tháng 11(Seller Voucher Package)_NonMS
                            </div>
                        </div>

                        <div class="homepage__marketing__voucher-packet-item">
                            <div class="homepage__marketing__voucher-packet-date">
                                <div class="homepage__marketing__voucher-packet-day">
                                    1
                                </div>
                                <div class="homepage__marketing__voucher-packet-dayweek">
                                    TUE
                                </div>
                            </div>
                            <div class="homepage__marketing__voucher-packet-name">
                                Gói vourcher tháng 11(Seller Voucher Package)_NonMS
                            </div>
                        </div>
                    </div>
                </div>
                <!-- VOUCHER PROGRAMME MENU -->
                <div class="homepage__marketing__voucher-code active">
                    <div class="homepage__marketing__voucher-code-heading">
                        <div class="voucher-code-sign-in">Đăng ký ngay</div>
                        <div class="homepage__marketing__voucher-code-name">
                            <p class="coming-event">
                                Sắp diễn ra
                            </p> 
                            <p class="voucher-code-name">
                                15.12_Voucher 4%
                            </p>
                        </div>
                        <div class="homepage__marketing__voucher-code-time">
                            Thời gian diễn ra : 23:59 13/12/2022 ~ 23:59 15/12/2022
                        </div>
                        <div class="homepage__marketing__voucher-code-expiry-time">
                            Thời gian đăng ký còn : 6 ngày 21 giờ 
                        </div>
                    </div>
                    <div class="homepage__marketing__voucher-code-heading">
                        <div class="voucher-code-sign-in">Đăng ký ngay</div>
                        <div class="homepage__marketing__voucher-code-name">
                            <p class="coming-event">
                                Sắp diễn ra
                            </p> 
                            <p class="voucher-code-name">
                                15.12_Voucher 4%
                            </p>
                        </div>
                        <div class="homepage__marketing__voucher-code-time">
                            Thời gian diễn ra : 23:59 13/12/2022 ~ 23:59 15/12/2022
                        </div>
                        <div class="homepage__marketing__voucher-code-expiry-time">
                            Thời gian đăng ký còn : 6 ngày 21 giờ 
                        </div>
                    </div>
                    
                    <div class="homepage__marketing__voucher-code-heading">
                        <div class="voucher-code-sign-in">Đăng ký ngay</div>
                        <div class="homepage__marketing__voucher-code-name">
                            <p class="coming-event">
                                Sắp diễn ra
                            </p> 
                            <p class="voucher-code-name">
                                15.12_Voucher 4%
                            </p>
                        </div>
                        <div class="homepage__marketing__voucher-code-time">
                            Thời gian diễn ra : 23:59 13/12/2022 ~ 23:59 15/12/2022
                        </div>
                        <div class="homepage__marketing__voucher-code-expiry-time">
                            Thời gian đăng ký còn : 6 ngày 21 giờ 
                        </div>
                    </div>

                    <div class="homepage__marketing__voucher-code-heading">
                        <div class="voucher-code-sign-in">Đăng ký ngay</div>
                        <div class="homepage__marketing__voucher-code-name">
                            <p class="coming-event">
                                Sắp diễn ra
                            </p> 
                            <p class="voucher-code-name">
                                15.12_Voucher 4%
                            </p>
                        </div>
                        <div class="homepage__marketing__voucher-code-time">
                            Thời gian diễn ra : 23:59 13/12/2022 ~ 23:59 15/12/2022
                        </div>
                        <div class="homepage__marketing__voucher-code-expiry-time">
                            Thời gian đăng ký còn : 6 ngày 21 giờ 
                        </div>
                    </div>

                    <div class="homepage__marketing__voucher-code-heading">
                        <div class="voucher-code-sign-in">Đăng ký ngay</div>
                        <div class="homepage__marketing__voucher-code-name">
                            <p class="coming-event">
                                Sắp diễn ra
                            </p> 
                            <p class="voucher-code-name">
                                15.12_Voucher 4%
                            </p>
                        </div>
                        <div class="homepage__marketing__voucher-code-time">
                            Thời gian diễn ra : 23:59 13/12/2022 ~ 23:59 15/12/2022
                        </div>
                        <div class="homepage__marketing__voucher-code-expiry-time">
                            Thời gian đăng ký còn : 6 ngày 21 giờ 
                        </div>
                    </div>
                </div>

                <div class="homepage__marketing__title">
                    Công cụ marketing
                </div>
                <div class="homepage__marketing__tools">
                    <div class="home__marketing__tools-column">
                        <div class="home__marketing__tool-img">

                        </div>
                        <div class="home__marketing__tool-name">
                            MÃ GIẢM GIÁ CỦA SHOP
                        </div>
                        <div class="home__marketing__tool-descripstion">
                            Công cụ tăng đơn hàng bằng cách tạo mã giảm giá tặng cho người mua
                        </div>
                    </div>

                    <div class="home__marketing__tools-column">
                        <div class="home__marketing__tool-img">

                        </div>
                        <div class="home__marketing__tool-name">
                            MÃ GIẢM GIÁ CỦA SHOP
                        </div>
                        <div class="home__marketing__tool-descripstion">
                            Công cụ tăng đơn hàng bằng cách tạo mã giảm giá tặng cho người mua
                        </div>
                    </div>

                    <div class="home__marketing__tools-column">
                        <div class="home__marketing__tool-img">

                        </div>
                        <div class="home__marketing__tool-name">
                            MÃ GIẢM GIÁ CỦA SHOP
                        </div>
                        <div class="home__marketing__tool-descripstion">
                            Công cụ tăng đơn hàng bằng cách tạo mã giảm giá tặng cho người mua
                        </div>
                    </div>

                    <div class="home__marketing__tools-column">
                        <div class="home__marketing__tool-img">

                        </div>
                        <div class="home__marketing__tool-name">
                            MÃ GIẢM GIÁ CỦA SHOP
                        </div>
                        <div class="home__marketing__tool-descripstion">
                            Công cụ tăng đơn hàng bằng cách tạo mã giảm giá tặng cho người mua
                        </div>
                    </div>

                    <div class="home__marketing__tools-column">
                        <div class="home__marketing__tool-img">

                        </div>
                        <div class="home__marketing__tool-name">
                            MÃ GIẢM GIÁ CỦA SHOP
                        </div>
                        <div class="home__marketing__tool-descripstion">
                            Công cụ tăng đơn hàng bằng cách tạo mã giảm giá tặng cho người mua
                        </div>
                    </div>

                    <div class="home__marketing__tools-column">
                        <div class="home__marketing__tool-img">

                        </div>
                        <div class="home__marketing__tool-name">
                            MÃ GIẢM GIÁ CỦA SHOP
                        </div>
                        <div class="home__marketing__tool-descripstion">
                            Công cụ tăng đơn hàng bằng cách tạo mã giảm giá tặng cho người mua
                        </div>
                    </div>
                </div>

            </div>
            <div class="homepage__operational-efficiency">
                <div class="homepage__operational-efficiency__heading">
                    Hiệu Quả Hoạt Động
                </div>
                <div class="homepage__operational-efficiency__menu">
                    <div class="homepage__operational-efficiency__menu-item active">
                        Vi phạm về đăng bán
                    </div>
                    <div class="homepage__operational-efficiency__menu-item">
                        Quản Lý Đơn Hàng
                    </div>
                    <div class="homepage__operational-efficiency__menu-item">
                        Chăm sóc khách hàng 
                    </div>
                </div>
                <div class="homepage__operational-efficiency__table a active">
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Tiêu chí</p>
                        <p>Shop của tôi</p>
                        <p>Chỉ tiêu</p>
                    </div>

                    <div class="homepage__operational-efficiency__table-item">
                        <p>Sản phẩm bị khóa/xóa</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Tỉ lệ hàng đặt trước</p>
                        <p>0.00%</p>
                        <p>≤10.00%</p>
                    </div>
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Các vi phạm khác</p>
                        <p>0</p>
                        <p>0</p>
                    </div>
                </div>

                <div class="homepage__operational-efficiency__table b">
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Tiêu chí</p>
                        <p>Shop của tôi</p>
                        <p>Chỉ tiêu</p>
                    </div>

                    <div class="homepage__operational-efficiency__table-item">
                        <p>Tỉ lệ đơn không thành công</p>
                        <p>-</p>
                        <p> <10.00% </p>
                    </div>
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Tỉ lệ hàng đặt trước</p>
                        <p>-</p>
                        <p>≤10.00%</p>
                    </div>
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Thời gian chuẩn bị hàng</p>
                        <p>-</p>
                        <p><1.50 days</p>
                    </div>
                </div>

                <div class="homepage__operational-efficiency__table c">
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Tiêu chí</p>
                        <p>Shop của tôi</p>
                        <p>Chỉ tiêu</p>
                    </div>

                    <div class="homepage__operational-efficiency__table-item">
                        <p>Tỉ lệ phản hồi</p>
                        <p>-</p>
                        <p> ≥80.00% </p>
                    </div>
                    <div class="homepage__operational-efficiency__table-item">
                        <p>Thời gian phản hồi</p>
                        <p>-</p>
                        <p><0.50 days</p>
                    </div>
                </div>
                
            </div>
            
            <div class="homepage__efficiency-star">
                <div class="homepage__efficiency-star__heading">
                    Hiệu Quả Hoạt Động
                </div>
                <div class="homepage__efficiency-star__body">
                    <div class="homepage__efficiency-star__body-mark">
                        <p style="margin:4px;font-size: 30px;">0</p>
                        <p style="margin:4px;">điểm</p>
                    </div>
                    <div class="homepage__efficiency-star__body-comment">
                        Shop đang hoạt động rất hiệu quả, hãy giữ vững kết quả này để Người mua thêm vững lòng tin Shop nhé!
                    </div>
                </div>
            </div>
        </div>

        <div class="container__notification">
            <p style="font-size: 18px;
            color: #333;
            font-weight: 600;">THÔNG BÁO</p>
            <div class="homepage__notification__item">
                <div class="homepage__notification__heading">
                    Quảng cáo Google Ads với Shopee
                </div>
                <div class="homepage__notification__content">
                    🔮 Khám phá cách tối ưu Quảng cáo Google Ads với Shopee và nhận ngay MÃ ƯU ĐÃI 🎁 khi Shop chi tiêu đủ trong vòng 60 ngày, tính từ ngày Shop bắt đầu chạy chiến dịch
👉 BẤM để xem chi tiết!
                </div>
            </div>

            <div class="homepage__notification__item">
                <div class="homepage__notification__heading">
                    Quảng cáo Google Ads với Shopee
                </div>
                <div class="homepage__notification__content">
                    🔮 Khám phá cách tối ưu Quảng cáo Google Ads với Shopee và nhận ngay MÃ ƯU ĐÃI 🎁 khi Shop chi tiêu đủ trong vòng 60 ngày, tính từ ngày Shop bắt đầu chạy chiến dịch
👉 BẤM để xem chi tiết!
                </div>
            </div>

            <div class="homepage__notification__item">
                <div class="homepage__notification__heading">
                    Quảng cáo Google Ads với Shopee
                </div>
                <div class="homepage__notification__content">
                    🔮 Khám phá cách tối ưu Quảng cáo Google Ads với Shopee và nhận ngay MÃ ƯU ĐÃI 🎁 khi Shop chi tiêu đủ trong vòng 60 ngày, tính từ ngày Shop bắt đầu chạy chiến dịch
👉 BẤM để xem chi tiết!
                </div>
            </div>

            <div class="homepage__notification__item">
                <div class="homepage__notification__heading">
                    Quảng cáo Google Ads với Shopee
                </div>
                <div class="homepage__notification__content">
                    🔮 Khám phá cách tối ưu Quảng cáo Google Ads với Shopee và nhận ngay MÃ ƯU ĐÃI 🎁 khi Shop chi tiêu đủ trong vòng 60 ngày, tính từ ngày Shop bắt đầu chạy chiến dịch
👉 BẤM để xem chi tiết!
                </div>
            </div>
            
            
        </div>
    </div>
</div>
</body>
</html>

<script src="/js/web_js.js">

</script>
