<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <div class="web">
        <div class="navbar">
            <div class="navbar__logo" style="    width: 596px;">
                <img src="/img/logonhom.png" alt="">
            </div>
            <!-- LIST  -->
            <div class="navbar__open-bar l4">
            <div class="navbar__list-heading">Sản Phẩm
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="/product">
                        Quản Lí Sản Phẩm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Thêm Sản Phẩm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Sản Phẩm Vi Phạm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Cài Đặt Sản Phẩm
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l3">
            <div class="navbar__list-heading">Đơn Hàng
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="/order">
                        Tất Cả 
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/order">
                        Đơn Hủy
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/order">
                        Trả Hàng/Hoàn Tiền
                    </a>
                </li>
            </ul>
        </div>
    
            <div class="navbar__open-bar l3">
                <div class="navbar__list-heading">Vận Chuyển
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Quản Lý Vận Chuyển
                    </li>
                    <li class="navbar__list-item">
                        Giao Hàng Loạt
                    </li>
                    <li class="navbar__list-item">
                        Cài Đặt Vận Chuyển
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l3">
                <div class="navbar__list-heading">Kênh Marketing
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Kênh Marketing
                    </li>
                    <li class="navbar__list-item">
                        Quảng Cáo Shopeee
                    </li>
                    <li class="navbar__list-item">
                        Mã giảm giá của tôi
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l4">
                <div class="navbar__list-heading">Tài Chính
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Doanh Thu
                    </li>
                    <li class="navbar__list-item">
                        Số Dư TK H3TP
                    </li>
                    <li class="navbar__list-item">
                        Tài Khoản Ngân Hàng
                    </li>
                    <li class="navbar__list-item">
                        Cài Đặt Thanh Toán
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l2">
                <div class="navbar__list-heading">Dữ Liệu
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Phân Tích Bán Hàng
                    </li>
                    <li class="navbar__list-item">
                        Hiệu Qủa Hoạt Động
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l2">
                <div class="navbar__list-heading">Phát Triển
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Nhiệm Vụ Người Bán
                    </li>
                    <li class="navbar__list-item">
                        Shop Yêu Thích
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l2">
                <div class="navbar__list-heading">Chăm Sóc Khách Hàng
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Trợ Lý Chat
                    </li>
                    <li class="navbar__list-item">
                        Hỏi-Đáp
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l6">
                <div class="navbar__list-heading">Quản Lý Shop
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Đánh Giá Shop
                    </li>
                    <li class="navbar__list-item">
                        Hồ Sơ Shop
                    </li>
                    <li class="navbar__list-item" >
                        Trang Trí Shop
                    </li>
                    <li class="navbar__list-item">
                        Danh Mục Của Shop
                    </li>
                    <li class="navbar__list-item" >
                        Kho Hình Ảnh/Video
                    </li>
                    <li class="navbar__list-item">
                        Báo Cáo Của Tôi
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l4">
                <div class="navbar__list-heading">Thiết Lập Shop
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Địa Chỉ
                    </li>
                    <li class="navbar__list-item">
                        Thiết Lập Shop
                    </li>
                    <li class="navbar__list-item">
                        Tài Khoản
                    </li>
                    <li class="navbar__list-item">
                        Nền Tảng Đối Tác
                    </li>
                </ul>
            </div>
    
            <div class="navbar__open-bar l2">
                <div class="navbar__list-heading">Trợ Giúp
                    <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
                </div>
                <ul class="navbar__list-link">    
                    <li class="navbar__list-item" >
                        Trung Tâm Hỗ Trợ
                    </li>
                    <li class="navbar__list-item">
                        Thị Trường Dịch Vụ
                    </li>
                </ul>
            </div>
    
            
        </div>
        <div class="order__container">
            <div class="order__header">
                <div class="order__header-name active">
                    Tất cả
                </div>
                <div class="order__header-name">
                    Chờ xác nhận
                </div>
                <div class="order__header-name">
                    Chờ lấy hàng
                </div>
                <div class="order__header-name">
                    Đang giao
                </div>
                <div class="order__header-name">
                    Đã giao
                </div>
                <div class="order__header-name">
                    Đơn hủy
                </div>
                <div class="order__header-name">
                    Trả hàng/Hoàn tiền
                </div>
            </div>
            <div class="order__date">
                <p style="margin-left: auto;
                padding: 0 20px;
                font-size: 18px;">Ngày đặt hàng</p>
                <p style="padding: 8px 24px;
                border: 1px solid black;
                border-radius: 3px;cursor: pointer;">Xuất</p>
                <i class="fa-solid fa-bars" style="padding: 8px 12px 8px 12px;
                color: #6c6c6c;
                border: 1px solid black;
                border-radius: 3px;
                margin: 0 30px;cursor: pointer;"></i>
            </div>
            <div class="order__search">
                <select name="search-list" id="" style="    height: 100%;
                padding: 8px;
                border-radius: 4px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;">
                    <option value="Mã đơn hàng">Mã đơn hàng</option>
                    <option value="Tên người mua">Tên người mua</option>
                    <option value="Sản phẩm">Sản phẩm</option>
                    <option value="Mã vận đơn">Mã vận đơn</option>
                </select>
                <input type="text" placeholder="Nhập mã đơn hàng" style="height: 100%;
                padding: 8px 350px 8px 20px;">
                <p style="    padding: 8px 24px;
                border: 1px solid black;
                border-radius: 3px;
                margin-left: 44px;
                background: #0070AE;
                color: white;cursor: pointer;">Tìm kiếm</p>
                <p style="padding: 8px 24px;
                border: 1px solid black;
                border-radius: 3px;
                margin: 0px 20px;cursor: pointer;">Đặt lại</p>
            </div>
            <div class="order__quantity">
                <p style="font-weight: 600;
                font-size: 22px;">1 Đơn hàng</p>
                <p style="border: 1px solid black;
                padding: 8px 30px;
                border-radius: 4px;
                margin-right: 24px;
                background: #0070AE;
                color: white;cursor: pointer;">Giao hàng loạt</p>
            </div>
            <div class="order__list__header">
                <p style="flex:3;padding: 0 4px;">Sản phẩm</p>
                <p style="flex:1;padding: 0 4px;">Số lượng</p>
                <p style="flex:1;padding: 0 4px;">Trạng thái</p>
                <p style="flex:1;padding: 0 4px;">Đếm ngược</p>
                <p style="flex:1;padding: 0 4px;">Tất cả ĐVVC</p>
                <p style="flex:2;padding: 0 4px;">Thao tác</p>
            </div>
            <div class="order__list__body">
                <div style="flex:3;padding: 0 4px;display: flex;">
                <img src="/img/productweb.jpeg" alt="" style="width:60px">
                    <p style="padding: 15px;">Miến dong Cao Bằng</p>
                </div>
                <p style="flex:1;padding: 0 4px;">2</p>
                <p style="flex:1;padding: 0 4px;">Chờ Giao</p>
                <p style="flex:1;padding: 0 4px;">12:00:00</p>
                <p style="flex:1;padding: 0 4px;">Hỏa tốc</p>
                <p style="flex:2;padding: 0 4px;cursor: pointer;">Thông tin đơn mua <i class=" fa-solid fa-chevron-down"></i></p>
            </div>
            <div class="order__list__profile" style="display:flex;">
                <div>
                    <p>Anhthh</p>
                    <p>SĐT : 0969696969</p>
                    <p>Gmail:weareuith3tp@gmail.com</p>
                </div>
                <div style="margin-left: 100px;">
                    <p>
                        Tương tác : Đã like,5 sao
                    </p>
                    <p>
                        Nhận xét : Đã sử dụng và sản phẩm rất tốt ,recommend mọi người mua sản phẩm này , mua lần 2 ủng hộ shop

                    </p>
                    <p>Địa chỉ:123 Hùng Vương,tp H3TP</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/js/web_js.js"></script>
<script>
    var orderHeaderName = document.querySelectorAll('.order__header-name');
    orderHeaderName.forEach((a)=>{
        a.addEventListener('click',()=>{
            orderHeaderName.forEach((a)=>{
                a.classList.remove('active');
            })
            a.classList.add('active');
        })
    })
</script>